/**
create two mongodb database, one for production, the other for testing.
To save time, you can use these below

PRODUCTION_DATABASE_URI=mongodb+srv://root:JaobuW7NJkEy2Nq6@cluster0.fqhm2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
TESTING_DATABASE_URI=mongodb+srv://root:JaobuW7NJkEy2Nq6@cluster0.fqhm2.mongodb.net/url_shortner_test_db?retryWrites=true&w=majority

**/
PRODUCTION_DATABASE_URI="
TESTING_DATABASE_URI=""
