$orange: #ec7600;
$black: #2c2c2c;
$charcoal-grey: #ededed;
$white: #fff;
$green: #16a085;
$navyBlue: #2c3e50;
$gray: #ddd;
$cadetblue: #5f9ea0;

.orange {
    color: $orange!important;
}

.black {
    color: $black;
}

.charcoal-grey {
    color: $charcoal-grey;
}

.white {
    color: $white;
}

.green {
    color: $green;
}
.navyBlue {
    color: $navyBlue;
}

.gray {
    color: $gray
}

.cadetblue {
    color: $cadetblue
}
